* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

/* 头部样式 */
#header {
  height: 40px;
  background: #333;
}

#header #top {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}

#header #top a {
  color: #b0b0b0;
  line-height: 40px;
}

#header #top a:hover {
  color: white;
}

#header #top ul li::after {
  content: "|";
  padding: 5px;
  color: #424242;
}

#header #top ul:first-child {
  float: left;
}

#header #top ul:first-child li {
  font-size: 12px;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei";
}

#header #top ul:first-child .down-app:hover+div {
  display: block;
}

#header #top ul:first-child .qrcode {
  width: 124px;
  position: absolute;
  display: none;
  left: 480px;
  top: 24px;
}

#header #top ul:first-child .qrcode .triangle {
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  margin: 0 auto;
}

#header #top ul:first-child .qrcode .qrcode-pic {
  background: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 5px #aaa;
}

#header #top ul:first-child .qrcode .qrcode-pic img {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  padding: 20px 0 0;
}

#header #top ul:first-child .qrcode .qrcode-pic p {
  height: 36px;
  line-height: 36px;
}

#header #top ul:first-child li:last-child::after {
  content: "";
}

#header #top ul:last-child {
  float: right;
}

#header #top ul:last-child li {
  float: left;
  font-size: 12px;
  line-height: 40px;
}

#header #top ul:last-child .lastli {
  width: 120px;
  text-align: center;
}

#header #top ul:last-child .lastli::after {
  content: "";
}

#header #top ul:last-child .lastli:hover {
  background: #fff;
}

#header #top ul:last-child .lastli img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#header #top ul:last-child .lastli a:hover {
  color: #ff6700;
}

#header #top ul:last-child .lastli:hover+.cart-detail {
  display: block;
  z-index: 1;
}

#header #top .cart-detail {
  display: none;
  width: 316px;
  height: 78px;
  text-align: center;
  line-height: 78px;
  background: white;
  color: #424242;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
}

/* 菜单样式 */
#menu {
  height: 100px;

}

#menu #content {
  height: 100px;
  width: 1226px;
  margin: 0 auto;
  position: relative;
}

#menu #content div {
  float: left;
}

#menu #content .left {
  width: 234px;
  height: 100px;
}

#menu #content .left #view-port {
  margin-top: 25px;
  width: 55px;
  height: 55px;
  position: relative;
  background: #ff6700;
  overflow: hidden;
  cursor: pointer;
}

#menu #content .left #view-port img {
  width: 55px;
  height: 55px;
  position: absolute;
  transition: all .3s;
}

#menu #content .left #view-port img:last-child {
  left: 55px;
}

#menu #content .left #view-port:hover img {
  transform: translateX(-55px);
}

#menu #content .center ul li {
  float: left;
  line-height: 100px;
  padding: 0 10px;
}

#menu #content .center ul li a {
  color: #333;
}

#menu #content .center ul li a:hover {
  color: #ff6700;
}

#menu #content .center ul li a:hover+div {
  display: block;
}

#menu #content .center ul li .show {
  display: none;
  z-index: 1;
  width: 100%;
  height: 230px;
  background-color: #fff;
  position: fixed;
  left: 10px;
}

#menu #content .center ul li .show::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #e0e0e0;
  position: absolute;
}

#content .center ul li .show ul {
  margin-left: 150px;
}

#content .center ul li .show ul li .showcontent {
  margin-top: 38px;
}

#content .center ul li .show ul li::after {
  content: "";
  width: 1px;
  height: 110px;
  position: absolute;
  background: #e0e0e0;
  top: 40px;
}

#content .center ul li .show ul li:last-child::after {
  content: "";
  width: 0px;
}

#content .center ul li .show ul li img {
  width: 160px;
  height: 110px;
  margin-bottom: -20px;
}

#content .center ul li .show ul li p {
  color: #333;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}

#content .center ul li .show ul li p:last-child {
  color: #ff6700;
}

#menu #content .right {
  float: right;
  padding-top: 24px;
  box-sizing: border-box;
}

#menu #content .right input[type='text'] {
  width: 224px;
  height: 50px;
  /* border: 1px solid #e0e0e0; */
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 0 10px;
}

#menu #content .right input[type='text']:focus {
  border-color: #ff6700;
}

#menu #content .right input[type='text']:focus+input {
  border-color: #ff6700;
}

#menu #content .right input[type='submit'] {
  width: 52px;
  height: 52px;
  border: 1px solid #e0e0e0;
  padding: 2px 6px;
  vertical-align: middle;
  background: url('../images/search.png') no-repeat center center;
}

#menu #content .right input[type='section2mit']:hover {
  background: url('../images/search\ \(1\).png') no-repeat center center;
  background-color: #ff6700;
  cursor: pointer;
}

/* section1样式 */
#section1 {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
}

#section1>div {
  float: left;
}

#section1 .left {
  width: 234px;
  /* position: relative; */
}

#section1 .left ul {
  padding: 20px 0;
  background: rgba(105, 101, 101, 0.6);
}

#section1 .left ul li {
  height: 42px;
}

#section1 .left ul li .show {
  display: none;
  z-index: -1;
  height: 460px;
  width: 992px;
  position: absolute;
  left: 234px;
  top: 0px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
  /* transition: all 1s; */
}

#section1 .left ul li .show:hover {
  display: block;
  z-index: 0;
}

#section1 .left ul li .show ul {
  float: left;
  background-color: #fff;
  width: 248px;
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
  cursor: pointer;
}

#section1 .left ul li .show ul li {
  position: relative;
  float: left;
  width: 265px;
  height: 76px;
  display: block;
  padding: 18px 20px;
  box-sizing: border-box;
  line-height: 40px;
  color: #333;
}

#section1 .left ul li .show ul li img {
  vertical-align: middle;
  margin-right: 12px;
  height: 40px;
  width: 40px;
}

#section1 .left ul li .show ul li span {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  color: #333;
}

#section1 .left ul li .show ul li span:hover {
  color: #ff6700;
}

#section1 .left ul li a {
  height: 42px;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
  text-indent: 30px;
}

#section1 .left ul li a:hover+.show {
  display: block;
  z-index: 0;
}

#section1 .left ul li a:hover {
  background: #ff6700;
  cursor: pointer;
}

#section1 .left ul li a img {
  float: right;
  margin-top: 13px;
  margin-right: 20px;
}

#section1 .right {
  width: 992px;
  /* position: relative; */
}

#section1 .right .arrow {
  margin-top: 195px;
  height: 70px;
}

#section1 .right .arrow i {
  width: 40px;
  height: 70px;
}

#section1 .right .arrow i:first-child {
  float: left;
  background-image: url("../images/arrows.png");
  background-position: -84px 0;
  border-radius: 0 3px 3px 0;
}

#section1 .right .arrow i:first-child:hover {
  background-position: 0 0;
  cursor: pointer;
}

#section1 .right .arrow i:last-child {
  float: right;
  background-image: url("../images/arrows.png");
  background-position: 40px 0;
  border-radius: 3px 0 0 3px;
}

#section1 .right .arrow i:last-child:hover {
  background-position: 120px 0;
  cursor: pointer;
}

#section1 .right .dot {
  height: 50px;
  margin-top: 140px;
}

#section1 .right .dot ul {
  float: right;
  margin-right: 30px;
}

#section1 .right .dot ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, .3);
  background-color: rgba(0, 0, 0, .4);
  box-sizing: border-box;
}

#section1 .buttom {
  width: 1226px;
  float: none;
  position: relative;
}

#section1 .buttom img {
  width: 1226px;
  position: absolute;
  left: 0;
  z-index: -1;
}

/* 侧边栏 side样式 */
#side {
  height: 261px;
  width: 42px;
  position: fixed;
  top: 240px;
  right: 0;
}

#side ul li {
  border: 1px solid #f5f5f5;
  width: 27px;
  height: 42px;
  /* padding: 10px 0; */
  box-sizing: border-box;
}

#side ul li:nth-child(1) {
  background-image: url("../images/phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 8px;
}

#side ul li:nth-child(1):hover {
  background-image: url("../images/phone_hover.png");
}

#side ul li:nth-child(2) {
  background-image: url("../images/person.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 8px;
}

#side ul li:nth-child(2):hover {
  background-image: url("../images/person_hover.png");
}

#side ul li:nth-child(3) {
  background-image: url("../images/setting.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 8px;
}

#side ul li:nth-child(3):hover {
  background-image: url("../images/setting_hover.png");

}

#side ul li:nth-child(4) {
  background-image: url("../images/service.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 8px;
}

#side ul li:nth-child(4):hover {
  background-image: url("../images/service_hover.png");
}

#side ul li:nth-child(5) {
  background-image: url("../images/shopping.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 8px;
}

#side ul li:nth-child(5):hover {
  background-image: url("../images/shopping_hover.png");
}

/* section2样式 */
#section2 {
  width: 1226px;
  height: 170px;
  margin: 14px auto 0;
}

#section2>div {
  float: left;
}

#section2 .left {
  width: 234px;
  height: 170px;
  background: #5f5750;
  color: #333;
}

#section2 .left ul li {
  width: 76px;
  height: 82px;
  font-size: 12px;
  position: relative;
  float: left;
  cursor: pointer;
}

#section2 .left ul li::before {
  content: "";
  top: 0px;
  left: 6px;
  width: 64px;
  height: 1px;
  background: #665e57;
  position: absolute;
}

#section2 .left ul li::after {
  content: "";
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  background: #665e57;
  position: absolute;
}

#section2 .left ul li img {
  height: 24px;
  width: 24px;
  display: block;
  margin: 0 auto;
}

#section2 .left ul li dl {
  margin-top: 16px;
}

#section2 .left ul li dd {
  text-align: center;
  color: #fff;
  opacity: .7;
  margin-top: 5px;
}

#section2 .right {
  width: 978px;
  height: 170px;
  margin-left: 14px;
}

#section2 .right ul li {
  float: left;
}

#section2 .right ul li:nth-child(2) {
  margin: 0 15px 0 15px;
}

#section2 .right ul li img {
  width: 316px;
  height: 170px;
}

/* section3样式 */
#section3 {
  height: 398px;
  background-color: #f5f5f5;
  margin: 26px 0 0;
}

#section3 .hd {
  height: 58px;
  width: 1226px;
  display: block;
  margin: 0 auto;
}

#section3 .hd .title {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

#section3 .row {
  width: 1240px;
  height: 340px;
  display: block;
  margin: 0 auto;
  position: relative;
}

#section3 .row .left {
  height: 340px;
  width: 234px;
  text-align: center;
  float: left;
  margin-left: 4px;
  background: #f1eded;
}

#section3 .row .left::before {
  content: "";
  left: 4px;
  position: absolute;
  width: 234px;
  height: 1px;
  border-top: 1px solid #ee5935;
}

#section3 .row .left .round {
  padding-top: 44px;
  font-size: 21px;
  color: #ef3a3b;
}

#section3 .row .left img {
  margin: 25px 0;
  border: 0;
}

#section3 .row .left .desc {
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}

#section3 .row .left .countdown {
  width: 168px;
  margin: 28px auto 0;
}

#section3 .row .left .countdown span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}

#section3 .row .left .countdown i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}

#section3 .row .right ul li {
  width: 234px;
  height: 340px;
  float: left;
  position: relative;
  background: #fff;
  left: 14px;
  margin-right: 15px;
}

#section3 .row .right ul li::before {
  content: "";
  /* left: 14px; */
  position: absolute;
  width: 234px;
  height: 1px;
  border-top: 1px solid #ee5935;
}

#section3 .row .right ul li .content {
  width: 234px;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

#section3 .row .right ul li img {
  width: 160px;
  height: 160px;
  padding-top: 44px;
}

#section3 .row .right ul li .title {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
}

#section3 .row .right ul li .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
}

#section3 .row .right ul li .price {
  font-size: 14px;
  margin: 0;
}

#section3 .row .right ul li .price span {
  color: #ff6709;
}

#section3 .row .right ul li .price del {
  color: #b0b0b0;
}

#section3 .row .swiper-control {
  position: absolute;
  right: 8px;
  top: -34px;
}

#section3 .row .swiper-control ul li {
  width: 36px;
  height: 24px;
  border: 1px solid #e0e0e0;
  float: left;
}

#section3 .row .swiper-control ul li:first-child {
  background-image: url("../images/leftArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 4px 0;
}

#section3 .row .swiper-control ul li:first-child:hover {
  background-image: url("../images/leftArrow_hover.png");
  cursor: pointer;
}

#section3 .row .swiper-control ul li:last-child {
  background-image: url("../images/rightArrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 4px 0;
}

#section3 .row .swiper-control ul li:last-child:hover {
  background-image: url("../images/rightArrow_hover.png");
  cursor: pointer;
}

/* banner-box1样式 */
#banner-box1 {
  height: 160px;
  background-color: #f5f5f5;
  /* margin: 22px 0; */
}

#banner-box1 .content {
  width: 1266px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

#banner-box1 .content img {
  width: 1226px;
  margin: 20px 20px;
}

/* section4样式 */
#section4 {
  height: 628px;
  background-color: #f5f5f5;
}

#section4 .hd {
  height: 58px;
  width: 1226px;
  display: block;
  margin: 0 auto;
  position: relative;
}

#section4 .hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

#section4 .hd .more {
  position: absolute;
  top: 0;
  right: 0;
}

#section4 .hd .more a {
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  color: #424242;
  float: left;
  transition: all .2s;
}

#section4 .hd .more a:hover {
  color: #ff6700;
}

#section4 .hd .more a:hover+div {
  background-image: url("../images/rightArrow01_hover.png");
  width: 20px;
  height: 20px;
}

#section4 .hd .more .pic {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  background-image: url("../images/rightArrow01.png");
}

#section4 .row {
  height: 628px;
  width: 1226px;
  display: block;
  margin: 0 auto;
  /* background-color: #ff6700; */
}

#section4 .row .left {
  float: left;
  height: 614px;
  width: 234px;
}

#section4 .row .left:hover {
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section4 .row .left img {
  height: 614px;
  width: 234px;
}

#section4 .row .right {
  width: 978px;
  height: 628px;
  float: left;
  margin-left: 14px;
}

#section4 .row .right ul li:hover {
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section4 .row .right ul {
  margin: 0 0 -14px -14px;
}

#section4 .row .right ul li {
  height: 260px;
  width: 234px;
  padding: 20px 0;
  position: relative;
  float: left;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  transition: all .2s;
}

#section4 .row .right ul li .content {
  width: 234px;
  height: 160px;
  text-align: center;
}

#section4 .row .right ul li .content img {
  width: 160px;
  height: 160px;
  margin: 0 37px;
}

#section4 .row .right ul li .content .title {
  margin: 0 10px 6px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

#section4 .row .right ul li .content .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

#section4 .row .right ul li .content .price {
  margin: 0 10px 14px;
  text-align: center;
}

#section4 .row .right ul li .content .price span {
  color: #ff6700;
}

#section4 .row .right ul li .content .price del {
  color: #b0b0b0;
}

/* banner-box2样式 */
#banner-box2 {
  height: 200px;
  background-color: #f5f5f5;
}

#banner-box2 .content {
  width: 1266px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

#banner-box2 .content img {
  width: 1226px;
  margin: 20px 20px;
}

/* section5 样式 */
#section5 {
  height: 688px;
  background-color: #f5f5f5;
}

#section5 .hd {
  height: 58px;
  width: 1226px;
  display: block;
  margin: 0 auto;
  position: relative;
}

#section5 .hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}

#section5 .hd .more {
  position: absolute;
  top: 0;
  right: 0;
}

#section5 .hd .more ul li {
  display: inline-block;
  padding: 16px 0 0;
  font-size: 16px;
  margin: 0 0 0 30px;
}

#section5 .hd .more ul li:hover {
  cursor: pointer;
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}

#section5 .row {
  height: 628px;
  width: 1226px;
  display: block;
  margin: 0 auto;
}

#section5 .row .left {
  float: left;
  height: 614px;
  width: 234px;
}

#section5 .row .left img:hover {
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section5 .row .left img {
  height: 300px;
  width: 234px;
  margin-bottom: 7px;
}

#section5 .row .right {
  width: 978px;
  height: 628px;
  float: left;
  margin-left: 14px;
}

#section5 .row .right ul li:hover {
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section5 .row .right ul {
  margin: 0 0 -14px -14px;
}

#section5 .row .right ul li {
  height: 260px;
  width: 234px;
  padding: 20px 0;
  position: relative;
  float: left;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  transition: all .2s;
}

#section5 .row .right ul #buttom {
  height: 93px;
  padding-top: 30px;
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  background: #fff;
  transition: all .2s linear;
}

#section5 .row .right ul #buttom:hover {
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section5 .row .right ul #buttom img {
  position: absolute;
  right: 35px;
  top: 34px;
  width: 48px;
  height: 48px;
  color: #ff6700;
  display: block;
}

#section5 .row .right ul #buttom .title {
  display: block;
  margin: 10px 110px 0 30px;
  font-size: 18px;
  color: #333;
}

#section5 .row .right ul #buttom .price {
  display: block;
  font-size: 12px;
  color: #757575;
  margin: 0 110px 0 30px;
}

#section5 .row .right ul #lastli-top {
  width: 234px;
  height: 93px;
  padding-top: 50px;
  margin-bottom: 14px;
}

#section5 .row .right ul #lastli-top:hover {
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
  transform: translate3d(0, -2px, 0);
}

#section5 .row .right ul #lastli-top .content img {
  position: absolute;
  right: -10px;
  top: 48px;
  width: 80px;
  height: 80px;
}

#section5 .row .right ul #lastli-top .content .title {
  margin: 5px 110px 5px 30px;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
}

#section5 .row .right ul #lastli-top .content .price {
  margin: 0 110px 0 30px;
  font-size: 12px;
  color: #ff6700;
}

#section5 .row .right ul li .content {
  width: 234px;
  height: 160px;
  text-align: center;
}

#section5 .row .right ul li .content img {
  width: 160px;
  height: 160px;
  margin: 0 37px;
}

#section5 .row .right ul li .content .title {
  margin: 0 10px 6px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

#section5 .row .right ul li .content .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}

#section5 .row .right ul li .content .price {
  margin: 0 10px 14px;
  text-align: center;
}

#section5 .row .right ul li .content .price span {
  color: #ff6700;
}

#section5 .row .right ul li .content .price del {
  color: #b0b0b0;
}